<header class="headtop">
    <div class="navbar">
        <h1><img src="/design/images/logo.png"></h1>
        <div class="btnmenu"><a href="#"><img src="/design/images/menubar.png"></a></div>
    </div>

    <div class="menuarea">

        <nav>
            <ul class="tab">
                <li class="m1 current" data-tab="tab1"><a href="#">일보</a></li>
                <li class="m2" data-tab="tab2"><a href="#">IoT</a></li>
                <li class="m3" data-tab="tab3"><a href="#">성적그래프</a></li>
                <li class="m4" data-tab="tab4"><a href="#">양돈정보</a></li>
            </ul>


            <div id="tab1" class="tabcontent current">
                <div class="nav_h_type nav-list">
                    <ul>
                        <li class="on"><a href="#">사육현황</a></li>
                        <li><a href="#">교배현황</a></li>
                        <li><a href="#">임신사고현황</a></li>
                        <li><a href="#">생산현황</a></li>
                        <li class="large"><a href="#">전입 및 전출/폐사현황</a></li>
                        <li><a href="#">거래기록</a></li>
                        <li class="last"></li>
                    </ul>
                </div>
            </div>

            <div id="tab2" class="tabcontent current">
                <div class="nav_h_type nav-list">
                    <ul>
                        <li class="large on"><a href="#">모돈자동급이기</a></li>
                        <li><a href="#">군사급이기</a></li>
                        <li><a href="#">환경센서</a></li>
                        <li><a href="#">음수관리기</a></li>
                        <li><a href="#">사료빈관리기</a></li>
                        <li><a href="#">돈선별기</a></li>
                        <li><a href="#">자돈급이기</a></li>
                        <li><a href="#">냉방기</a></li>
                        <li><a href="#">전기화재</a></li>
                        <li class="last"></li>
                    </ul>
                </div>
            </div>

            <div id="tab4" class="tabcontent current">
                <div class="nav_h_type nav-list">
                    <ul>
                        <li class="on"><a href="#">도매시세</a></li>
                        <li><a href="#">양돈기사</a></li>
                        <li><a href="#">날씨</a></li>
                        <li class="last"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
