
    <footer class="footer">
        <ul class="footer-menu">
            <li><a href="#"><i class="mdi mdi-home-outline"></i>홈</a></li>
            <li><a href="#"><i class="mdi mdi-format-list-bulleted"></i>퀵메뉴</a></li>
            <li><a href="#"><i class="mdi mdi-qrcode"></i>QR</a></li>
            <li><a href="#"><i class="mdi mdi-account"></i>마이페이지</a></li>
        </ul>
    </footer>

    <script src="/design/js/jquery-3.4.1.js"></script>
    <script src="/design/js/bootstrap.js"></script>
    <script src="/design/js/content.js"></script>
    <script src="/design/js/jquery-ui.js"></script>
    <script src="/design/js/jquery.touchFlow.js"></script>


</body>

</html>